!!!
%html{:lang => "en"}
  %head
    %title References
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/reset.css", :media => "screen,print", :rel => "stylesheet"}/
    %script{:src => "css/modernizr.custom.99475.js"}
    %link{:href => "css/screen.css", :rel => "stylesheet"}/
    %link{:href => "css/gfx/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  %body
    %main
      %h1
        Practical impact
      %article.ref
        %h2
          References
        .lightbox
          %p#hulin2001
            Hulin, Charles. 2001. “Applied Psychology and Science: Differences Between Research and Practice.”
            %i Applied Psychology: An International Review
            50 (2): 225–34.
            = succeed "." do
              %a{:href => "http://doi.org/10.1111/1464-0597.00055"} doi:10.1111/1464-0597.00055
          %p#latham2007
            Latham, Gary P. 2007. “A Speculative Perspective on the Transfer of Behavioral Science Findings To the Workplace: ‘The Times They Are a-Changin’’.”
            %i Academy of Management Journal
            50 (5): 1027–32.
            = succeed "." do
              %a{:href => "http://doi.org/10.5465/AMJ.2007.27153899"} doi:10.5465/AMJ.2007.27153899
          %p#mitroff1998
            Mitroff, I. I. 1998. “On the Fundamental Importance of Ethical Management: Why Management Is the Most Important of All Human Activities.”
            %i Journal of Management Inquiry
            7 (1): 68–79.
            = succeed "." do
              %a{:href => "http://doi.org/10.1177/105649269871011"} doi:10.1177/105649269871011
          %p#moed2010
            Moed, HF. 2010. “Measuring Contextual Citation Impact of Scientific Journals.”
            %i Journal of Informetrics
            4 (3): 265–77.
            = succeed "." do
              %a{:href => "http://arxiv.org/abs/0911.2632"} arXiv:0911.2632 [cs.DL]
          %p#mohammadi2014
            Mohammadi, Ehsan, Mike Thelwall, Stefanie Haustein, and Vincent Larivière. 2014. “Who Reads Research Articles? An Altmetrics Analysis of Mendeley User Categories.”
            %i> Journal of the Association for Information Science and Technology
            , 1–27.
          %p#schwab2011
            Schwab, Andreas, Eric Abrahamson, William H. Starbuck, and Fiona Fidler. 2011. “PERSPECTIVE—Researchers Should Make Thoughtful Assessments Instead of Null-Hypothesis Significance Tests.”
            %i Organization Science
            22 (4): 1105–20.
            = succeed "." do
              %a{:href => "http://doi.org/10.1287/orsc.1100.0557"} doi:10.1287/orsc.1100.0557
    %nav
      %a{:href => "index.html"}
        %div
          Abstract/Index
      %a{:href => "practical-impact-thesis.html"}
        %div
          Thesis
      %a{:href => "references.html"}
        %div
          References
    %footer
